In [1]:
import numpy as np
import pandas as pd

# 1. 读取文件

In [ ]:
df1 = pd.DataFrame(pd.read_csv('name.csv',header=1))
df2 = pd.DataFrame(pd.read_excel('name.xlsx'))

# 2. 创建数据表

In [4]:
df = pd.DataFrame({"id":[1001,1002,1003,1004,1005,1006],
 "date":pd.date_range('20130102', periods=6),# periods=6表示生成6行,date_range('str')函数用于生成连续的日期序列
  "city":['Beijing ', 'SH', ' guangzhou ', 'Shenzhen', 'shanghai', 'BEIJING '],
 "age":[23,44,54,32,34,32],
 "category":['100-A','100-B','110-A','110-C','210-A','130-F'],
  "price":[1200,np.nan,2133,5433,np.nan,4432]},# np.nan表示空值
  columns =['id','date','city','category','age','price'])# columns用于指定生成的数据表的列名
print(df)

     id       date         city category  age   price
0  1001 2013-01-02     Beijing     100-A   23  1200.0
1  1002 2013-01-03           SH    100-B   44     NaN
2  1003 2013-01-04   guangzhou     110-A   54  2133.0
3  1004 2013-01-05     Shenzhen    110-C   32  5433.0
4  1005 2013-01-06     shanghai    210-A   34     NaN
5  1006 2013-01-07     BEIJING     130-F   32  4432.0

# 3. 数据表信息查看

In [10]:
print(df.info)# info()函数用于查看数据表的基本信息
print(df.shape)# shape函数用于查看数据表的形状
print(df.dtypes)# dtypes函数用于查看数据表的数据类型
print(df.index)# index函数用于查看数据表的索引
print(df.columns)# columns函数用于查看数据表的列名
print(df.values)# values函数用于查看数据表的值
print(df['id'].dtype)# dtype函数用于查看某一列的数据类型

<bound method DataFrame.info of      id       date         city category  age   price
0  1001 2013-01-02     Beijing     100-A   23  1200.0
1  1002 2013-01-03           SH    100-B   44     NaN
2  1003 2013-01-04   guangzhou     110-A   54  2133.0
3  1004 2013-01-05     Shenzhen    110-C   32  5433.0
4  1005 2013-01-06     shanghai    210-A   34     NaN
5  1006 2013-01-07     BEIJING     130-F   32  4432.0>
(6, 6)
id                   int64
date        datetime64[ns]
city                object
category            object
age                  int64
price              float64
dtype: object
RangeIndex(start=0, stop=6, step=1)
Index(['id', 'date', 'city', 'category', 'age', 'price'], dtype='object')
[[1001 Timestamp('2013-01-02 00:00:00') 'Beijing ' '100-A' 23 1200.0]
 [1002 Timestamp('2013-01-03 00:00:00') 'SH' '100-B' 44 nan]
 [1003 Timestamp('2013-01-04 00:00:00') ' guangzhou ' '110-A' 54 2133.0]
 [1004 Timestamp('2013-01-05 00:00:00') 'Shenzhen' '110-C' 32 5433.0]
 [1005 Timestamp('2013-01-06 00:00:00') 'shanghai' '210-A' 34 nan]
 [1006 Timestamp('2013-01-07 00:00:00') 'BEIJING ' '130-F' 32 4432.0]]
int64

In [5]:
print(df.head())# head()函数用于查看数据表的前n行数据，默认为5
print(df.tail())# tail()函数用于查看数据表的后n行数据，默认为5
print(df['city'].unique())# unique()函数用于查看某一列的唯一值
print(df['city'].nunique())# nunique()函数用于查看某一列的唯一值的个数
print(df['price'].count())# count()函数用于查看某一列的非空值个数
print(df.isnull())# isnull()函数用于查看数据表的空值情况
print(df['price'].isnull())# isnull()函数用于查看某一列的空值情况

     id       date         city category  age   price
0  1001 2013-01-02     Beijing     100-A   23  1200.0
1  1002 2013-01-03           SH    100-B   44     NaN
2  1003 2013-01-04   guangzhou     110-A   54  2133.0
3  1004 2013-01-05     Shenzhen    110-C   32  5433.0
4  1005 2013-01-06     shanghai    210-A   34     NaN
     id       date         city category  age   price
1  1002 2013-01-03           SH    100-B   44     NaN
2  1003 2013-01-04   guangzhou     110-A   54  2133.0
3  1004 2013-01-05     Shenzhen    110-C   32  5433.0
4  1005 2013-01-06     shanghai    210-A   34     NaN
5  1006 2013-01-07     BEIJING     130-F   32  4432.0
['Beijing ' 'SH' ' guangzhou ' 'Shenzhen' 'shanghai' 'BEIJING ']
6
4
      id   date   city  category    age  price
0  False  False  False     False  False  False
1  False  False  False     False  False   True
2  False  False  False     False  False  False
3  False  False  False     False  False  False
4  False  False  False     False  False   True
5  False  False  False     False  False  False
0    False
1     True
2    False
3    False
4     True
5    False
Name: price, dtype: bool

# 4. 数据表清洗

In [6]:
df.fillna(value=0)# fillna()函数用于填充空值
df['price'].fillna(df['price'].mean())# 用平均值填充空值
df['price'].fillna(df['price'].median())# 用中位数填充空值
df.rename(columns={'category': 'category-size'})# rename()函数用于修改列名
df.dropna(axis=0,how='any')# dropna()函数用于删除空值
df.drop_duplicates()# drop_duplicates()函数用于删除重复值
df['city'].map(str.strip)# strip()函数用于去除字符串中的空格

     id       date         city category-size  age   price
0  1001 2013-01-02     Beijing          100-A   23  1200.0
1  1002 2013-01-03           SH         100-B   44     NaN
2  1003 2013-01-04   guangzhou          110-A   54  2133.0
3  1004 2013-01-05     Shenzhen         110-C   32  5433.0
4  1005 2013-01-06     shanghai         210-A   34     NaN
5  1006 2013-01-07     BEIJING          130-F   32  4432.0

# 5. 数据预处理

In [ ]:
df3=pd.DataFrame({"id":[1001,1002,1003,1004,1005,1006,1007,1008],
"gender":['male','female','male','female','male','female','male','female'],
"pay":['Y','N','Y','Y','N','Y','N','Y',],
"m-point":[10,12,20,40,40,40,30,20]})

In [ ]:
df_inner=pd.merge(df,df3,how='inner')# merge()函数用于数据表的合并
df_left=pd.merge(df,df3,how='left')
df_right=pd.merge(df,df3,how='right')
df_outer=pd.merge(df,df3,how='outer')
# how参数用于指定合并方式，inner表示内连接，outer表示外连接，left表示左连接，right表示右连接

In [ ]:
result1 = df3.append(df)# append()函数用于数据表的合并,数据表要相同结构
result2 = df3.join(df)# join()函数用于数据表的合并,数据表不要相同结构
result3 = pd.concat([df,df3],axis=1,join='inner')# concat()函数用于数据表的合并,数据表要相同结构